body{
	background-image: url("../img/bg.png");
}
.ipstyle{
	height:22px;
	width:180px;
	display:inline;
}
.pstyle{
	height:22px;
	display:inline;
}
#a17{
	width:500px;
}
#a18{
	width:500px;
}
#below-head{
	text-align: right;
}
.red{
	color:red;
	font-weight:bold;
	font-size:15px;
}
.db div{
	border: 1px solid;
	height: 32px;
	padding-top: 5px;
}
#doubleheight div{
	height: 64px;
}
.bgcolorblue{
	background-color: rgb(51,122,183)
}
.headdiv{
	height:40px;
	text-align: left;
	background-color: rgb(51,122,183)
}
.nav-tabs > li .close {
	margin: -2px 0 0 10px;
	font-size: 18px;
}
#img{
	height:128px;
	border: 1px solid;
}
#att{
	margin:20px 20px;
	background-color: rgb(202,217,232);
}
#leftslide{
	background-color: rgb(241,241,241);
	padding-top:20px;
	padding-bottom: 20px;
	border: 1px solid rgb(192,192,192);
	border-radius:3px;
}
.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
h1{
	text-align:center;
}
h3{
	text-align:center;
}
h4{
	margin:0;
	display:inline;
}
label{
	padding-top:auto;
	padding-bottom: auto;
}